<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ví dụ về iframe</title>
</head>

<body>

    <iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345097976!2d144.96315791531592!3d-37.81627917975171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d43bf12dbb7%3A0xfb1ef6e89f95dd0!2sFederation%20Square!5e0!3m2!1sen!2sau!4v1610914411124!5m2!1sen!2sau"
  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


</body>

</html>