<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <caption>Danh sách học sinh</caption>
        <colgroup>
            <col span="1" style="background-color: lightgray;">
            <col style="background-color: lightblue;">
         </colgroup>
        <thead>
            <tr>
                <th>Tên</th>
                <th>Tuổi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Minh</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Hương</td>
                <td>22</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Tổng số học sinh</td>
                <td>2</td>
            </tr>
        </tfoot>
    </table>
    
</body>
</html>